{#
   This file is part of the BaitPollBundle package.

   (c) BAIT s.r.o. <http://www.bait.sk/>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.
#}

{% block generic_label %}
{% spaceless %}

{%- if required -%}
    {%- set attr = attr|merge({'class': attr.class|default('') ~ ' required'}) -%}
{%- endif -%}

<label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>

{%- if 'title' in label|keys -%}

    {%- if label.asset_type == 'TYPE_ASSET_AUDIO' -%}
        {{ block('audio_label') }}
    {%- elseif label.asset_type == 'TYPE_ASSET_IMAGE' -%}
        {{ block('image_label') }}
    {%- elseif label.asset_type == 'TYPE_ASSET_VIDEO' -%}
        {{ block('video_label') }}
    {%- endif -%}

{%- else -%}
    {{- label|trans -}}
{%- endif -%}

</label>

{% endspaceless %}
{% endblock %}

{% block audio_label %}
{% spaceless %}
<a href="{{ label.asset_url }}">{{ label.title }}</a>
{% endspaceless %}
{% endblock %}

{% block image_label %}
{% spaceless %}
<img src="{{ label.asset_url }}" alt="{{ label.title|trans }}" />
{% endspaceless %}
{% endblock %}

{% block video_label %}
{% spaceless %}
<a href="{{ label.asset_url }}">{{ label.title }}</a>
{% endspaceless %}
{% endblock %}
